/* 6つのp要素に適用するスタイルを宣言 */
p {
  background-color: blue;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}
/* 6つのstring要素に適用するスタイルを宣言 */
li {
  font-size: 16px;
}

#small {
  font-size: 12px;
}

.string-yellow {
  color: yellow;
}

.string-blue {
  color: blue;
}

.string-red {
  color: red;
}

.bg-gray {
  background-color: gray;
}

.bg-green {
  background-color: green;
}

.bg-brown {
  background-color: brown;
}
